<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container">
    <!-- etc… -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul>
		<center>
			<li><a href="<span class="highlight">#/</span>">petCare</a></li>
			
			<li><a href="<span class="highlight">#/about</span>">About</a></li>
		</center>
		</ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
